﻿@using VoltShop.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-shopping-cart"></i>Carrito de compras</h2>
<hr style="border:1px solid gray" />
<div class="container">
    <table class="table table-hover">
        <tr style="font-size:18px">
            <th>Opción</th>
            <th>Nombre</th>
            <th style="text-align:center;">Foto</th>
            <th>Precio</th>
            <th>Disponibles</th>
            <th>Adquirir</th>
            <th>Subtotal</th>
        </tr>
        @{
            List<Item> list = (List<Item>)Session["carro"];
            if (!list.Any())
            {
                <tr>
                    <td align="center" colspan="7"><h2>Nada por aquí...</h2></td>
                </tr>
            }
            else
            {
                foreach (Item item in (List<Item>)Session["carro"])
                {
                    <tr style="font-size:15px;">
                        <td style="vertical-align:middle;"><a href="@Url.Action("Quitar", "Carro", new { id = item.Product.Id })">Quitar</a></td>
                        <td style="vertical-align:middle;">@item.Product.nombre</td>
                        <td align="center" style="vertical-align:middle;"><img class="img-responsive" src="~/Content/img/@item.Product.imagen" width="100" /></td>
                        <td style="vertical-align:middle;">@item.Product.precio</td>
                        <td style="vertical-align:middle;">@item.Product.existencia</td>
                        <td style="vertical-align:middle;">@item.Cantidad</td>
                        <td style="vertical-align:middle;">@(item.Product.precio * item.Cantidad)</td>
                    </tr>
                }
            }
        }
        <tr>
            <td align="right" colspan="6"><h3>Total</h3></td>
            <td>
                @{
                    List<Item> carro = (List<Item>)Session["carro"];
                    var total = carro.Sum(item => item.Product.precio * item.Cantidad);
                }
                <h3>$ @total MXN</h3>
            </td>
        </tr>
    </table>
</div>
<br />
<hr style="border:1px solid gray" />
<br />
@*<a class="btn btn-info" href="@Url.Action("Index", "Home")">Continuar comprando</a>*@

@{
    if (!list.Any())
    {
        <p style="color:white;">
            @Html.ActionLink("Continuar comprando", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
        </p>
    }
    else
    {
        <p style="color:white;display:inline-block;">
            @Html.ActionLink("Continuar comprando", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
        </p>
        <p style="float:right;color:white;display:inline-block;">
            @Html.ActionLink("Confirmar pedido", "CrearOrden", "Pago", new { area = "" }, new { @class = "btn btn-success" })
        </p>
    }
}