﻿@model VoltShop.Models.empleados

@{
    Layout = "~/Views/Shared/_LayoutEmpleados.cshtml";
    ViewBag.Title = "Create";
}

<h2>Registrar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empleados</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Rol,
                    new List<SelectListItem> {
                                new SelectListItem {Value="RH", Text="Recursos Humanos"},
                                new SelectListItem {Value="paqueteria", Text="Envíos y paqueterias"},
                                new SelectListItem {Value="almacen", Text="Registro de productos"},
                                new SelectListItem {Value="ventas", Text="Encargado de ventas"},
                                new SelectListItem {Value="cliente", Text="Cliente"},
                                new SelectListItem {Value="admin", Text="Administrador"}
                            }, new {@class="miselect", style = "font-size:150%; height:35px; width:300px" })
                @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Departamento,
                    new List<SelectListItem> {
                                new SelectListItem {Value="RH", Text="Departamento de RH"},
                                new SelectListItem {Value="paqueteria", Text="Departamento de paqueteria"},
                                new SelectListItem {Value="almacen", Text="Departamento de almacen"},
                                new SelectListItem {Value="ventas", Text="Departamento de ventas"},
                                new SelectListItem {Value="cliente", Text="Cliente"},
                                new SelectListItem {Value="admin", Text="Administrador"}
                            }, new {@class="miselect", style = "font-size:150%; height:35px" })
                @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
