﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/bootstrap.css" />
    <link href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="~/Scripts/bootstrap.js" />
    <link href="~/Scripts/bootstrap.min.js" />
    <link href="~/Scripts/jquery-3.3.1.js" />
    <link href="~/Scripts/jquery-3.3.1.min.js" />
</head>
<body style="background-color:lightgoldenrodyellow">
    <header>
        <div class="container">
            <div class="row" style="justify-content:center;">
                <div class="col-xs-6">
                    <img src="~/Content/Images/logoVoltShop.png" height="70" />
                </div>

                <div class="col-xs-6" id="texto-portada" style="text-align:right;">
                    <h4 style="text-align:center;">La tienda de electricidad más grande de México</h4>
                    <p style="text-align:center;"><i class="fa fa-bolt"></i>¡Vísitanos!<i class="fa fa-bolt"></i></p>
                </div>
            </div>
        </div>
    </header>

    <div class="navbar navbar-inverse" style="font-size:20px; font-weight:bold">
        <div class="container glyphicon-align-center">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Almacén", "Index", "Envios", new { area ="" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Paqueterías <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Agregar", "Create", "Paqueterias", null, new { id = "add" })</li>
                            <li>@Html.ActionLink("Actualizar", "Index", "Paqueterias", null, new { id = "list" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Ordenes pendientes <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Fecha de envío", "Index", "Orden", null, new { id = "add" })</li>
                            <li>@Html.ActionLink("Fecha de entrga", "Index1", "Orden", null, new { id = "list" })</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial1")
            </div>
        </div>
    </div>

    <div class="cuerpo">
        @RenderBody()
    </div>

    <div class="pie">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/logoVoltShop.png" height="70" /><br /><br />
                    <p>&copy; @DateTime.Now.Year - Volt </p>

                </div>
                <div class="col-md-2">
                    <p>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                    </p>
                </div>

                <div class="col-md-4">
                    <h4>Síguenos en nuestras redes sociales</h4>

                    <a href="#" class="fa fa-facebook" style="font-size: 35px;"></a>


                    <a href="#" class="fa fa-twitter" style="font-size: 35px;"></a>


                    <a href="#" class="fa fa-instagram" style="font-size:35px;"></a>


                    <a href="#" class="fa fa-youtube" style="font-size: 35px;"></a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
