﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.css" />
    <link href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="~/Scripts/bootstrap.js" />
    <link href="~/Scripts/bootstrap.min.js" />
    <link href="~/Scripts/jquery-3.3.1.js" />
    <link href="~/Scripts/jquery-3.3.1.min.js" />
</head>
<body style="background-color:lightgoldenrodyellow">
    <header>
        <div class="container">
            <div class="row" style="justify-content:center;">
                <div class="col-xs-6">
                    <img src="~/Content/Images/logoVoltShop.png" height="70" />
                </div>

                <div class="col-xs-6" id="texto-portada" style="text-align:right;">
                    <h4 style="text-align:center;">La tienda de electricidad más grande de México</h4>
                    <p style="text-align:center;"><i class="fa fa-bolt"></i>¡Vísitanos!<i class="fa fa-bolt"></i></p>
                </div>
            </div>
        </div>
    </header>

    <div class="navbar navbar-inverse" style="font-size:20px;">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li style="margin-top:15px">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @*<li style="margin-top:15px">@Html.ActionLink("Catálogo", "Index", "Home")   </li>*@
                    <li style="margin-top:15px" class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Catálogo <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Todos los productos", "todosProd", "Catalogo", null, null)</li>
                            <li>@Html.ActionLink("Iluminación", "prodCategoria", "Catalogo", new { idCat = 1 }, null)</li>
                            <li>@Html.ActionLink("Herramientas", "prodCategoria", "Catalogo", new { idCat = 2 }, null)</li>
                            <li>@Html.ActionLink("Apagadores y conectores", "prodCategoria", "Catalogo", new { idCat = 3 }, null)</li>
                            <li>@Html.ActionLink("Extensiones y multicontactos", "prodCategoria", "Catalogo", new { idCat = 4 }, null)</li>
                            <li>@Html.ActionLink("Bases de medición", "prodCategoria", "Catalogo", new { idCat = 5 }, null)</li>
                            <li>@Html.ActionLink("Distribución eléctrica", "prodCategoria", "Catalogo", new { idCat = 6 }, null)</li>
                            <li>@Html.ActionLink("Conduit, canalización, cajas", "prodCategoria", "Catalogo", new { idCat = 7 }, null)</li>
                        </ul>
                    </li>
                    <li style="margin-top:15px">@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li style="margin-top:15px">@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li style="margin-top:25px">
                        @using (Html.BeginForm("BuscarProd", "Catalogo", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <input class="form-control mr-sm-2" type="text" id="nomBuscar" name="nomBuscar" placeholder="Buscar..." />
                            <button class="btn btn-success" type="submit" value="submit">Buscar</button>
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="cuerpo">
        @RenderBody()
    </div>

    <div class="pie">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/logoVoltShop.png" height="70" /><br /><br />
                    <p>&copy; @DateTime.Now.Year - Volt </p>

                </div>
                <div class="col-md-2">
                    <p>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                    </p>
                </div>

                <div class="col-md-4">
                    <h4>Síguenos en nuestras redes sociales</h4>

                    <a href="#" class="fa fa-facebook" style="font-size: 35px;"></a>


                    <a href="#" class="fa fa-twitter" style="font-size: 35px;"></a>


                    <a href="#" class="fa fa-instagram" style="font-size:35px;"></a>


                    <a href="#" class="fa fa-youtube" style="font-size: 35px;"></a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
