﻿@using VoltShop.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-shopping-basket"></i> <strong>Mi historial de pedidos</strong></h1>
<hr style="border: 1px solid black;" />

<table class="table table-responsive table-bordered table-striped">
    @{ if (Session["misPedidos"] != null)
        {
            foreach (PedidoCliente pedido in (List<PedidoCliente>)Session["misPedidos"])
            {
                int idOrd = pedido.Orden.Id;
                <tr>
                    <td>Fecha: <strong>@pedido.Fecha</strong></td>
                    <td>Envío: <strong>@pedido.envio</strong></td>
                    <td>Entrega: <strong>@pedido.status</strong></td>
                    <td>Cant</td>
                    <td>Precio</td>
                </tr>

                foreach (ItemPedido item in (List<ItemPedido>)Session["Pedido"])
                {
                    if (item.idOrd == idOrd)
                    {
                        <tr>
                            <td>@item.Product.nombre</td>
                            <td align="center"><img class="img-responsive" src="~/Content/img/@item.Product.imagen" width="150"/></td>
                            <td>@item.Product.precio</td>
                            <td>@item.Cantidad</td>
                            <td>@(item.Product.precio * item.Cantidad)</td>
                        </tr>
                    }
                }
                <tr>
                    <td align="right" colspan="4"><strong>Total: </strong></td>
                    <td>
                        @pedido.Total
                    </td>
                </tr>
            }
        } }
</table>

<br />
<hr style="border: 1px solid black;" />
<div class="container">
    <a style="font-size:20px" class="btn btn-success" href="@Url.Action("index","Home")"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Volver a la tienda</a>
</div>


