﻿@model VoltShop.Models.orden_cliente

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}
@{
    string val;
    if (Model.fecha_envio.HasValue)
    {
        val = Model.fecha_envio.GetValueOrDefault().ToShortDateString();
    }
    else { val = ""; }
}
<h2>Actualizar</h2>
<h4>Fecha de entrega</h4>
<hr />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#guardar").click(function (e) {
                e.preventDefault();
                var fE;
                var fN;
                var nada = "";
                var i = $('#@Html.IdFor(m=>m.fecha_entrega)').val();
                if (i != "") {
                    fT = i.split('-');
                    fE = fT[2] + "/" + fT[1] + "/" + fT[0];

                    var fechaEntrega = Date.parse(i);
                }
                else {
                    nada = "nada";
                    fE = "";
                }


                if (nada == "nada") {
                    //alert("nada");
                    $("#1").text("No ha seleccionado ninguna fecha de entrega.");
                    $('#popupModel').modal('show');
                }
                else {
                    var fEnv = $('#@Html.IdFor(m => m.fecha_envio)').val();
                    fN = fEnv.split('/');
                    var fechaEnvio = Date.parse(fN[2] + '-' + fN[1] + '-' + fN[0]);
                    if (fechaEnvio > fechaEntrega) {
                        $("#1").text("La fecha de entrega: " + fE + " no puede se menor");
                        $("#2").text("a la fecha de envío: " + fEnv);
                        $('#popupModel').modal('show');
                    }
                    else {
                        Save();
                    }
                }
        });

        function Save() {
            var token = $("[name='__RequestVerificationToken']").val();

            var ordenModel = {
                Id: $('#@Html.IdFor(model => model.Id)').val(),
                fecha_creacion: $('#@Html.IdFor(model =>model.fecha_creacion)').val(),
                num_confirmacion: $('#@Html.IdFor(model=>model.num_confirmacion)').val(),
                total: $('#@Html.IdFor(model=>model.total)').val(),
                id_cliente: $('#@Html.IdFor(model=>model.id_cliente)').val(),
                id_dir_entrega: $('#@Html.IdFor(model=>model.id_dir_entrega)').val(),
                id_paqueteria: $('#@Html.IdFor(model=>model.id_paqueteria)').val(),
                num_guia: $('#@Html.IdFor(model=>model.num_guia)').val(),
                fecha_envio: $('#@Html.IdFor(model=>model.fecha_envio)').val(),
                fecha_entrega: $('#@Html.IdFor(model=>model.fecha_entrega)').val(),
                cliente: $('#@Html.IdFor(model=> model.cliente)').val(),
                paqueteria: $('#@Html.IdFor(model=>model.paqueteria)').val(),
                orden_producto: $('#@Html.IdFor(model=>model.orden_producto1)').val(),
                __RequestVerificationToken: token
            }

            var ordenModelOK = JSON.stringify(ordenModel);
            //alert(ordenModelOK);
            $.ajax({
                type: "post",
                url: "/Orden/Edit1",
                datatype: "json",
                data: ordenModel,
                async: false,
                success: function (result) {
                    $('form').attr('action', 'Index1');
                    $('form').submit();
                },
                error: function (err, result) {
                    alert('No valid Data ' + err.responseText);
                }
            });
        }
    });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_creacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_creacion, new { @class = "form-control", @Value = Model.fecha_creacion.GetValueOrDefault().ToShortDateString(), @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.num_confirmacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.num_confirmacion, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.num_confirmacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.total, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cliente.nombre, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cliente.nombre, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.id_cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dirección de entrega", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.cliente.calle_t),
                    @Html.DisplayFor(model => model.cliente.colonia_t),
                    @Html.DisplayFor(model => model.cliente.estado_t)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paqueteria, "nom_paqueteria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.paqueteria.Nombre, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.id_paqueteria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.num_guia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.num_guia, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.num_guia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_envio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_envio, new { @class = "form-control", @Value = @val, @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.fecha_envio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_entrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_entrega, new { @type = "date", @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.fecha_entrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="guardar" type="button" class="btn btn-default">Guardar</button>
            </div>
        </div>
    </div>
}

<div id="popupModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Error en la fecha</h3>
                <button type="button" class="close" data-dismiss="modal"> X </button>
            </div>
            <div style="padding:5px">
                <div style="background-color:lightgoldenrodyellow;padding-left:15px">
                    <span id="1"></span> <span id="2"></span>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Volver", "Index1")
</div>
