﻿@model IEnumerable<VoltShop.Models.orden_cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}

<h2>Listado</h2>
<h4>Ordenes sin enviar</h4>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_confirmacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            Dirección de entrega
        </th><th>
            @Html.DisplayNameFor(model => model.fecha_envio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string val;
    if (item.fecha_envio.HasValue)
    {
        val = item.fecha_envio.GetValueOrDefault().ToShortDateString();
    }
    else { val = ""; }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.fecha_creacion, new { @class = "form-control", @Value = item.fecha_creacion.GetValueOrDefault().ToShortDateString(), @readonly = "readonly" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_confirmacion)
        </td>
        <td>
            $ @Html.DisplayFor(modelItem => item.total)
        </td><td>
            @Html.DisplayFor(modelItem => item.cliente.calle_t),
            @Html.DisplayFor(modelItem => item.cliente.colonia_t),
            @Html.DisplayFor(modelItem => item.cliente.estado_t)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.fecha_envio, new { @class = "form-control", @Value = item.fecha_envio.ToString(), @readonly = "readonly" })
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
