﻿@using VoltShop.Models
@{
    ViewBag.Title = "BuscarProd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buscar producto</h1>
<h3><i class="fa fa-search"></i>Resultados coincidentes para la búsqueda de: <strong>@ViewBag.SearchKey</strong></h3>
<hr />
<br />
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Precio</th>
                <th style="text-align:center;">Comprar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (producto producto in ViewBag.Listado)
            {
                <tr>
                    <td>@producto.nombre</td>
                    <td><img src="~/Content/img/@producto.imagen" width="60" /></td>
                    <td>@producto.precio</td>
                    <td align="center">
                        <a href="@Url.Action("Comprar", "Carro", new { id = producto.Id })">Comprar ahora</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

