﻿@model VoltShop.Models.producto
@using VoltShop.Models
@{
    ViewBag.Title = "detallesProd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .producto {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #descripcionProd {
        margin-left: 2%;
        width: 100%;
    }

    h2 {
        width: 100%
    }

    .imagenProd {
        width: 160px;
        height: 107px;
        margin-left: 15px;
        margin-top: 5px;
        margin-right: 15px;
        border: 1px solid black;
        background-color: white;
    }

    .prodRelacionado {
        display: inline-block;
        width: 20%;
        text-align: center;
        margin-left: 25px;
    }
</style>

<div class="contenenedor">
    <h2><strong>@Html.DisplayFor(model => model.categoria.nombre) / </strong>@Html.DisplayFor(model => model.nombre)</h2>
    <br /><br />
    <div class="producto">
        <img src="@Url.Content("~/Content/img/"+Model.imagen)" width="400" style="width: 60%;" />
        <div id="descripcionProd">
            <h2>@Html.DisplayFor(model => model.nombre)</h2>
            <h3>@Html.DisplayFor(model => model.categoria.nombre)</h3>
            <p>@Html.DisplayFor(model => model.descripcion)</p>
            <br />
            <div class="row" style="margin-top:150px">
                <p style="color:white;display:inline-block;margin-left:20px">
                    @Html.ActionLink("Volver", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
                </p>
                <p style="color:white;display:inline-block;margin-left:100px">
                    @Html.ActionLink("Añadir al carrito", "Comprar", "Carro", new { id = Model.Id }, new { @class = "btn btn-success" })
                </p>
            </div>

        </div>
    </div>
    <br /><br />

    <div>
        <h3>Productos similares</h3>
        <br />
        <div>
            <div class="row">
                @foreach (producto item in ViewBag.productos)
                {
                    <div class="col-xs-12 col-md-3">
                        <div class="thumbnail">
                            <img class="img-responsive" style="width:130px;height:130px;object-fit:cover;" src="~/Content/img/@item.imagen" />
                            <div class="caption text-center">
                                <p>
                                    <b>Nombre: </b><br /><span><a href='@Url.Action("detallesProd", "Catalogo", new { idProd = @item.Id, idCat = @item.id_categoria})'>@item.nombre</a></span>
                                </p>
                                <p>
                                    <b>Precio: </b><span>@item.precio</span>
                                </p>
                                <p class="text-center">
                                    @Html.ActionLink("Añadir al carrito", "Comprar", "Carro", new { id = item.Id }, new { @class = "btn btn-success" })
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


