﻿@using VoltShop.Models
@{
    ViewBag.Title = "prodCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Categoría / </strong>@ViewBag.Catego</h2>

<div class="container">
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (producto item in ViewBag.productos)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/img/@item.imagen" />
                        <div class="caption text-center">
                            <p>
                                <b>Nombre: </b><br /><span><a href='@Url.Action("detallesProd", "Catalogo", new { idProd = @item.Id, idCat = @item.id_categoria})'>@item.nombre</a></span>
                            </p>
                            <p>
                                <b>Precio: </b><span>@item.precio</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Añadir al carrito", "Comprar", "Carro", new { id = item.Id }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
