﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img .logo-img {
}


header {
    width: 100%;
    height: 100px;
    background-color: #222;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}



#texto-portada {
    font-family: 'Nunito', sans-serif, "sans-serif,Helvetica Neue", Helvetica, Arial;
    line-height: 1.42857143;
    color: #FFC222;
    font-weight: bold;
}

    #texto-portada h1 {
        color: #FFC222;
        font-size: 30px;
    }

    #texto-portada h4 {
        color: #FFC222;
    }





/*Iconos */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 30px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 50px;
}

#productos-index {
    width: 20%;
}


.pie {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    clear: both;
    background-color: #222;
    background-size: cover;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif, "sans-serif,Helvetica Neue", Helvetica, Arial;
    color: #FFC222;
    font-weight: bold;
}

.cuerpo {
    margin-top: 30px;
    padding-left: 350px;
    padding-right: 350px;
    margin-bottom: 200px
}
