﻿@model VoltShop.Models.cliente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Correo = Session["correo"];
}

<h2>Registro</h2>

@*using (Html.BeginForm())*@
@using (Html.BeginForm("Create", "Clientes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h3>nuevo cliente</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*Html.EditorFor(model => model.email, new { @Value = ViewBag.Correo, htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
            @Html.TextBoxFor(model => model.email, new { @Value = ViewBag.Correo, @readonly = true, @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.calle_t, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.calle_t, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.calle_t, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.colonia_t, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.colonia_t, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.colonia_t, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.estado_t, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.estado_t, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.estado_t, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.num_tarj_cred, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.num_tarj_cred, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.num_tarj_cred, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <hr />
    <h3>Registrar una tarjeta</h3>
    <br />
    <div class="form-group">
        @Html.Label("Seleccione el tipo de tarjeta")
        <div class="col-md-offset-2 col-md-10">
            <div class="row">
                <div class="col-md-4">
                    @Html.RadioButton("tipoTaj", "Visa")
                    <img class="img-responsive" src="~/Content/img/tarj/visa.png" width="60" />
                </div>
                <div class="col-md-4">
                    @Html.RadioButton("tipoTaj", "Master")
                    <img class="img-responsive" src="~/Content/img/tarj/master.png" width="60" />
                </div>
                <div class="col-md-4">
                    @Html.RadioButton("tipoTaj", "American")
                    <img class="img-responsive" src="~/Content/img/tarj/american.png" width="60" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mes de vencimiento", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("mes", new { htmlAttributes = new { @class = "form-control col-md-2" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Año de vencimiento", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("anio", new { htmlAttributes = new { @class = "form-control col-md-2" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("No. CVV (atrás)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("CCV", new { htmlAttributes = new { @class = "form-control col-md-2" } })
        </div>
    </div>


    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Index", "Home")
</div>
