﻿
@{
    ViewBag.Title = "Invalida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Oh no!</h2>
<h4>Algo salió mal...</h4>
@using (Html.BeginForm("BorraUser", "Clientes", FormMethod.Get))
{
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">Error en el registro</div>
        <div class="panel-body">
            <h3>Los datos de su tarjeta son inválidos.</h3>
            <h4>Por favor, registrese nuevamente</h4>
            <br />
            <input type="submit" value="Continuar" class="btn btn-info" style="text-align:center;"/>
        </div>
    </div>
</div>
}

