﻿@using VoltShop.Models
@{
        ViewBag.Title = "CrearOrden";
        Layout = "~/Views/Shared/_Layout.cshtml";

        string c = Session["usr"].ToString();
        string d = Session["dirCliente"].ToString();
        string fO = Session["fechaOrden"].ToString();
        string fE = Session["fPEntreg"].ToString();
        int tTarj = Convert.ToInt32(Session["tTarj"].ToString());
        string fig = "";
        string nTarj = Session["nTarj"].ToString();

        switch (tTarj)
        {
            case 1: fig = "visa.png";
                break;
            case 2: fig = "master2.png";
                break;
            case 3: fig = "american.png";
                break;
        }
    }

<h1>Confirmar pedido</h1>
<hr style="border: 1px solid black;" />
<h2>Productos:</h2>
<div class="container">
    <div class="col-md-8 bg-success">
        <table class="table-bordered">
            <thead>
                <tr class="info">
                    <th style="text-align:center;">Foto</th>
                    <th style="text-align:center;">Nombre</th>
                    <th style="text-align:center;">Precio</th>
                    <th style="text-align:center;">Cantidad</th>
                    <th style="text-align:center;">SubTotal</th>
                </tr>
            </thead>
            @foreach (Item item in (List<Item>)Session["carro"])
            {
                <tr>
                    <td style="text-align:center; font-size:15px;"><img class="img-responsive" src="~/Content/img/@item.Product.imagen" width="200"/></td>
                    <td style="text-align:center; font-size:15px;">@item.Product.nombre</td>
                    <td style="text-align:center; font-size:15px; padding:30px">@item.Product.precio</td>
                    <td style="text-align:center; font-size:15px; padding:30px">@item.Cantidad</td>
                    <td style="text-align:center; font-size:15px; padding:30px;"><strong>@(item.Product.precio * item.Cantidad)</strong></td>
                </tr>
            }
            <tr>
                <td align="right" colspan="6" style="font-size:25px;">Total</td>
                <td style="text-align:center; padding:30px; font-size:25px;">
                    @{
                        List<Item> cart = (List<Item>)Session["carro"];
                        var total = cart.Sum(item => item.Product.precio * item.Cantidad);
                    }
                    <strong>@total</strong>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div class="jumbotron col-md-8" style="background-color: lightgreen">
        <h2 style="text-align:center">Datos de envío</h2>
        <div class="jumbotron">
            <h3><strong>Cliente: </strong>@c</h3>
            <h3><strong>Dir. de Entrega: </strong>@d</h3>
            <h3><strong>Fecha orden: </strong>@fO</h3>
            <h3><strong>Fecha de entrega: </strong>@fE</h3>
        </div>
    </div>
    <br />

    <div class="jumbotron col-md-8">
        <p style="font-size:20px;"><strong>Elija su forma de pago haciendo clic en la imagen de su elección</strong></p>
        <div class="row">
            <div class="col-md-3 ">
                <a href="@Url.Action("Pagar", "Pago", new { tipoPago = "T" })" style="text-decoration:none; margin-top:100px">
                    <img src="~/Content/img/tarj/@fig" class="img-responsive img-rounded" width="50" />
                    @nTarj
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Pagar", "Pago", new { tipoPago = "P" })" style="text-decoration:none">
                    <img src="~/Content/img/tarj/paypal2.png" class="img-responsive img-rounded" width="50" />
                    PayPal
                </a>
            </div>
        </div>
    </div>
</div>
