﻿@using  VoltShop.Models
@{
    ViewBag.Title = "pagandoPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idClient = Convert.ToInt32(Session["idClient"].ToString());
    int idDir = Convert.ToInt32(Session["idDir"].ToString());
    string nombre = Session["usr"].ToString();
    List<Item> cart = (List<Item>)Session["carro"];
    var total = cart.Sum(item => item.Product.precio * item.Cantidad);
}

<div class="container" style="margin:2rem auto">
    <div>
        <img src="~/Content/img/tarj/paypal.png" />
    </div>

    <main>
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"></p>
            <b>Bienvenido @nombre</b>
            <table class="table-striped table-bordered">
                <caption>Acepta el pago de </caption>
                <tr>
                    <td colspan="2" style="height:50px; padding:15px">
                        <b style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:16px">
                            VoltShop: Material eléctrico de calidad.
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="info" style="height:25px; padding:15px;">Importe en pesos: </td>
                    <td style="height:25px; padding:15px;">$ @total  MXN</td>
                </tr>
            </table> 
    </main>
    <div style="margin: auto">
        <a class="btn btn-success text-center" style="text-decoration:none" href=@Url.Action("pagoAceptado", "Pago", new { idC = idClient, idD = idDir } )> Pagar </a>
        <a class="btn btn-danger text-center" style="text-decoration:none" href=@Url.Action("pagoNoAceptado", "Pago")> Cancelar </a>
    </div>
</div>

