﻿
@{
    ViewBag.Title = "PagoPayPal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idClient = Convert.ToInt32(Session["idClient"].ToString());
    int idDir = Convert.ToInt32(Session["idDir"].ToString());
}

<h2>Inice sesión con su cuenta de Paypal</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#continuar").click(function (e) {
                var email = $("#email").val();
                var pass = $("#pwd").val();
                if (email == "") {
                    $("#1").text("No ha ingresado ningun correo.");
                    $('#popupModel').modal('show');
                }
                else {
                    if (pass == "") {
                        $("#1").text("No ha ingresado ninguna contraseña.");
                        $('#popupModel').modal('show');
                    }
                    else {
                        Avanzar();
                    }
                }
        });

            function Avanzar() {
                var url = $("#Avanzar").val();
                window.location.replace(url);
                window.location.href = url;
        }
    });
    </script>
}

<div class="container">
    <img src="~/Content/img/tarj/paypal.png" style="margin:auto" />

    <form action="/action_page.php" style="margin:auto">
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control" id="email" placeholder="Introduzca correo" name="email" required />
        </div>
        <div class="form-group">
            <label for="pwd">Password: </label>
            <input type="password" class="form-control" id="pwd" placeholder="Introduzca su contraseña" name="pwd" required />
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remeber" />Recuérdame</label>
        </div>
        <a class="btn btn-info" id="continuar">Continuar</a>
    </form>
</div>
@Html.Hidden("Avanzar", @Url.Action("pagandoPaypal", "Pago", new { idC = idClient, idD = idDir }));



<div id="popupModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="display:inline-block;">Error al iniciar sesión</h2>
                <button type="button" style="display:inline-block;" class="close" data-dismiss="modal"> x </button>
            </div>
            <div style="padding:5px">
                <div style="padding-left:15px">
                    <span style="font-size:20px;" id="1"></span> <h4 id="2"></h4>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>