﻿
@{
    ViewBag.Title = "pagoAceptado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Gracias por tu preferencia!</h2>
<h4>El pago ha sido procesado</h4>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">Pago procesado</div>
            <div class="panel-body">
                <h3>Su pago fue aceptado.</h3>
                <h4>Su pago ha sido procesado, en breve su orden será procesada.</h4>
                <br />
                <input type="submit" value="Continuar" class="btn btn-info" style="text-align:center;" />
            </div>
        </div>
    </div>
}

