﻿
@{
    ViewBag.Title = "pagoNoAceptado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Oh no!</h2>
<h4>Algo salió mal...</h4>
@using (Html.BeginForm("CrearOrden", "Pago", FormMethod.Get))
{
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">Pago no procesado</div>
            <div class="panel-body">
                <h3>Su pago no fue aceptado.</h3>
                <h4>Por favor, elija otra forma de pago</h4>
                <br />
                <input type="submit" value="Continuar" class="btn btn-info" style="text-align:center;" />
            </div>
        </div>
    </div>
}

