﻿@{
    ViewBag.Title = "About";
}

<h1><strong>Sobre nosotros</strong></h1>
<br />
<div class="row">
    <div class="col-md-8">
        <hr style="border:1px solid black;" />
        <div style="text-align:center">
            <h3><cite>La tienda virtual más grande de electricidad de México.</cite></h3>
            <h3><strong>VoltShop</strong> es una tienda enfocada en todo lo relacionado con la electricidad. </h3>
        </div>
        <hr style="border:1px solid black;" />
        <br />
        <br />
        <h2><strong>Innovación tecnológica</strong></h2>
        <h3>
            La innovación tecnológica es la base para la expansión de VoltShop y permite a los clientes tener más y más categorías de productos, adaptados a sus
            necesidades y a un precio más bajo.
        </h3>
        <br />
        <br />
        <hr style="border:1px solid gray;" />
        <br />
        <br />
        <h2>La plataforma de <strong>VoltShop</strong></h2>
        <h3>
            En 2010, VoltShop comenzó a ofrecer su plataforma de comercio con una pequeña cantidad de productos y categorías, hoy en día contamos con más
            de 2 millones de usuarios registrados.
        </h3>
        <br />
        <br />
        <hr style="border:1px solid gray;" />
        <br />
        <br />
        <h3>
            Y esto no ha hecho más que empezar
            La evolución de la página web de VoltShop está determinada por nuestro deseo de innovar constantemente, que siempre ha formado parte del ADN de nuestra compañía.
            El comercio electrónico se encuentra todavía en una etapa temprana. En los próximos años, se verá cómo VoltShop se expande a más regiones geográficas y continua
            mejorando la vida de nuestros consumidores.
        </h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/AcercaDe/acerca1.png" height="600"/>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <img src="~/Content/Images/AcercaDe/acerca2.png" height="300"/>
    </div>
</div>
