﻿@{
    ViewBag.Title = "Contact";
}

<h1>Contáctanos</h1>
<hr style="border:1px solid black;" />
<br />
<div class="row">
    <div class="col-md-6">
        <p>Correo electrónico: <a href=”#” style="display: inline;">voltshop@contacto.com.mx</a></p>
        <p>
            Redes sociales:<br> Facebook: VoltShopFB<br> Instagram: VoltShopIG<br> Twitter: VoltShopTW<br> Youtube: VoltShopYT<br>
        </p>

        <hr style="border:1px solid gray;" />

        <address>
            <p>Teléfonos: 7224190566 7224190555 </p>
            <p> Dirección: Av. Tecnológico S/N esquina con Estado de México, Metepec, Estado de México. VolthShop MX </p>
            <p> Horario de atención: Lunes a Viernes 10:00-18:00 <br> Sábados: 13:00-15:00
        </address>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/Contacto/contacto2.png" height="300" />
    </div>
</div>
<hr style="border:1px solid black;" />
        