﻿
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-7">
        <h1 style="text-align:center;font-size:500%">Nuevos productos</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/lamp.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Lámparas</h3>
                        <a style="color:white" href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 1})'>Variedad de bombillas &raquo;</a>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/material.jpg" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Herramientas y Accesorios</h3>
                        <a style="color:white" href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 2})'>Manejamos diferentes marcas &raquo;</a>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/material2.jpeg" alt="New york" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Material de calidad</h3>
                        <a style="color:white" href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 4})'>Precisión seguridad y calidad &raquo;</a>

                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-5" style="text-align:center; margin-top:60px;">
        <img src="~/Content/Images/logoVoltShop2.png" style="width:400px; margin-bottom:30px; margin-top:30px;" />
        <br />
        <h1 style="font-size:300%">¿Quiénes somos?</h1>
        <p style="font-size:150%">
            Somos una empresa especializada en la venta de <br />
            todo tipo de materiales para instalaciones eléctricas<br /><br />
            ¡Más de 10 años de experiencia nos respaldan como una de las tiendas más confiables en el rubro!
        </p>
    </div>

</div>
<br /><br /><br /><br /><br />
<div class="container" style="width:100%;">
    <div style="background:#212121; color:white;"class="jumbotron">
        <div class="row" style="justify-content:center;">
            <h1 class="display-4"><i class="fa fa-tags"></i> Explorar categorias</h1>
            <hr />
            <br />
            <div class="col-md-3" style="text-align:center; background-color:lightgray; color:black; padding:10px;">
                <h2>Herramientas </h2>
                <img id="productos-index" src="~/Content/Images/alicates.png" style="width:30%;" />
                <p style="margin-top:30px;">
                    <a class="btn btn-success"
                       href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 2})'>Ver &raquo;</a>
                </p>
            </div>
            <div class="col-md-3" style="text-align:center; background-color:lightgray; color:black; padding:10px;">
                <h2>Iluminación</h2>
                <img id="productos-index" src="~/Content/Images/bombilla.png" style="width:30%;" />
                <p style="margin-top:30px;">
                    <a class="btn btn-success"
                       href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 1})'>Ver &raquo;</a>
                </p>
            </div>
            <div class="col-md-3" style="text-align:center; background-color:lightgray; color:black; padding:10px;">
                <h2>Conduit y cajas</h2>
                <img id="productos-index" src="~/Content/Images/generador.png" style="width:30%;" />
                <p style="margin-top:30px;">
                    <a class="btn btn-success"
                       href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 7})'>Ver  &raquo;</a>
                </p>
            </div>
            <div class="col-md-3" style="text-align:center; background-color:lightgray; color:black; padding:10px;">
                <h2>Multicontactos</h2>
                <img id="productos-index" src="~/Content/Images/multicontactos.png" style="width:30%;" />
                <p style="margin-top:30px;">
                    <a class="btn btn-success"
                       href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 4})'>Ver &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>
