﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}
@{
    DateTime dia = DateTime.Now;
    var hora = dia.Hour;
    string mensaje = "";
    if (hora < 12)
    {
        mensaje = "Buenos días ";
    }
    if (hora >= 12)
    {
        mensaje = "Buenas tardes ";
    }
    if (hora >= 19)
    {
        mensaje = "Buenas noches ";
    }
    string name = @Session["usr"].ToString();
}

<div class="container">
<h1>@mensaje  @name</h1>
<hr style="border:1px solid black;" />
<br />
<div class="row">
    <div class="col-md-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style=" width:100%; height: 470px !important;">
                <div class="item active">
                    <img src="~/Content/Images/Users/Envios/Envios1.png" alt="Los Angeles">
                </div>

                <div class="item">
                    <img src="~/Content/Images/Users/Envios/Envios2.png" alt="Chicago">
                </div>

                <div class="item">
                    <img src="~/Content/Images/Users/Envios/Envios3.png" alt="New York">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h1 style="text-align:center">Almacen</h1>
            <hr />
            <br />
            <p>
                En esta sección podras administrar las paqueterias asociadas con la tienda.
                <br />
                Además podrás gestionar los envíos pendientes de nuestros clientes.
            </p>
        </div>
    </div>
</div>
</div>
